<!DOCTYPE html>                                                                 
<html lang="en">                                                                
<head>                                                                          
        <title>LightHouse</title>                                               
                                                                                
        <meta charset="utf-8">                                                  
        <meta name="viewport" content="width=device-width, initial-scale=1">    
                    <!-- Latest compiled and minified CSS -->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
      <link rel="stylesheet" type="text/css" href="lighthouse/static/lighthouseapp/my_stylesheet.css">                                                                   
                                                                                
        </head>                                                                 
                                                                                
<body>                                                                          
                                                                                
        <h1>LightHouse</h1>                                                     
         <div >                                                                 
               <p> Browse for meetings </p>                                      
        </div>              
        {% for resource in resources %}
        <h1><p>{{ resource.name }}<p></h1>
                    <p>{{ resource.description }}</p>
                    <p>{{ resource.level }}</p>
                    <p>{{ resource.link }}</p>
                    <p>{{ resource.category }}</p>
                    <p>{{ resource.asspiration }}</p>
                    <p>{{ resource.group }}</p>
                    <p>{{ resource.level }}</p>
        {% endfor %}                                                                        

<p> Search </p>                                                          
<p> Tag Cloud Button </p>                                                          
                                                                                
</body>                                                                         
</html> 
