<!DOCTYPE html>                                                                 
<html lang="en">                                                                
<head>                                                                          
<meta name="viewport" content="initial-scale=1.0, width=device-width" />
<link rel="stylesheet" type="text/css"
    href="https://js.api.here.com/v3/3.0/mapsjs-ui.css" />
  <script type="text/javascript" charset="UTF-8"
    src="https://js.api.here.com/v3/3.0/mapsjs-core.js"></script>
  <script type="text/javascript" charset="UTF-8"
    src="https://js.api.here.com/v3/3.0/mapsjs-service.js"></script>
  <script type="text/javascript" charset="UTF-8"
    src="https://js.api.here.com/v3/3.0/mapsjs-ui.js"></script>
  <script type="text/javascript" charset="UTF-8"
    src="https://js.api.here.com/v3/3.0/mapsjs-mapevents.js"></script>
        <title>LightHouse</title>                                               
                                                                                
        <meta charset="utf-8">                                                 
        <meta name="viewport" content="width=device-width, initial-scale=1">    
                    <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="lighthouse/static/lighthouseapp/my_stylesheet.css">                                                                   
    </head>                                                                 
                                                                                
    <body>                                                                
        <div class="container">
            <div class="row">
            <div class="col-md-6" style="margin-top: 10%;text-align: right;height: 100%;">
                <h1>LightHouse</h1>                                                                
                <h3> You're browsing through our suggestions. <p>Do you want to go to Filters?</p></h3>
            </div>
            <div class="col-md-6"> 
            <img src="http://gruberb.com/diverse.png" alt="background" style="width:300px;height:307px;">
            </div>
            <div class="col-sm-12"><a href="resourcefilter/"><input class="btn btn-default" style="display: block; width: 100%;" type="submit" value="Go to Filters"></a>
            </div>
            </div>

        <div class="container">                                       
        {% for resource in resources %}
        <h1><p><a href= "../detail/{{resource.pk}}/">{{ resource.name }}<p></h1></a>
                    <p>{{ resource.description }}</p>
                    <p>{{ resource.link }}</p>
                    <p>{{ resource.logo }}</p>
        {% endfor %}
    </div>
                                                                                
        </head>                                                                 
                                                                                
<body>                                                                          
maps
<script  type="text/javascript" charset="UTF-8" >
    
/**
 * Moves the map to display over Berlin
 *
 * @param  {H.Map} map      A HERE Map instance within the application
 */
function moveMapToBerlin(map){
  map.setCenter({lat:52.5159, lng:13.3777});
}

/**
 * Boilerplate map initialization code starts below:
 */

//Step 1: initialize communication with the platform
var platform = new H.service.Platform({
  app_id: '6d0g57ZEuwQh6BsEX8SZ',
  app_code: 'Ad6FxUzEnSS3PMyXfdCJWA',
  useCIT: true,
  useHTTPS: true
});
var defaultLayers = platform.createDefaultLayers();

//Step 2: initialize a map  - not specificing a location will give a whole world view.
var map = new H.Map(document.getElementById('map'),
  defaultLayers.normal.map);

//Step 3: make the map interactive
// MapEvents enables the event system
// Behavior implements default interactions for pan/zoom (also on mobile touch environments)
var behavior = new H.mapevents.Behavior(new H.mapevents.MapEvents(map));

// Create the default UI components
var ui = H.ui.UI.createDefault(map, defaultLayers);

// Now use the map as required...
moveMapToBerlin(map);
  </script>
                                                                                
        <h1>LightHouse</h1>                                                     
         <div >                                                                 
               <p> Browse for meetings </p>                                      
        </div>             
        {% for resource in resources %}
        <h1><p>{{ resource.name }}<p></h1>
                    
                {{ resource }}
                    <p>{{ resource.description }}</p>
                    <p>{{ resource.link }}</p>
        {% endfor %}                                                                        

                                                                                
</body>                                                                         
</html> 
