{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
    <head>
      <title>LightHouse</title>
    	
      <meta charset="utf-8">
    	<meta name="viewport" content="width=device-width, initial-scale=1">
    	<!-- Latest compiled and minified CSS -->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
      <link rel="stylesheet" type="text/css" href="lighthouse/static/lighthouseapp/my_stylesheet.css">
  	</head>

    <body> 
	      <div class="container text-center">
            <h1 id="title">LightHouse</h1>    
        <div class="container text-center">     
            <h3>A site for the underrepresented</h3>
        </div> 
        <div class="container text-left">     
            <p>Lighthouse was made to help the underrepresented. By this we mean smaller groups from the tech community that may find it hard to find each other to share professional interests and knowledge or just want to have a good time during a hackathon, meetup, mentoring program etc.</p>
        
          <div class="row">
          <div class="col-md-12"> 
            <p><strong>How to browse:</strong> If you’re not sure what you’re looking for yet, just hit ‘browse’ and we’ll suggest you something to get started with.</p>
          
            <p><strong>How to search:</strong> Simply fill out our form / use our search filters and hit send. We’ll give you a list of anything that might be going on near you to get you just the thing you need. May it be networking, workshops, mentoring programs or a simple meetup focussing on the area of expertise where you want to learn more or share your knowledge.</p>
            </div>
          </div>
          </div> 
          <div class="row text-center">
           <div class="col-sm-6"><input class="btn btn-default" style="display: block; width: 100%;" type="submit" value="Browse"></div>
            <div class="col-sm-6"><input class="btn btn-default" style="display: block; width: 100%;" type="submit" value="Search"></div>
          </div>

        </div>     

	</div>
        
<p> Browse Button </p>

<p> <a href = 'resourcefilter/'> link</p>

</body>
</html>
