{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
    <head>
      <title>LightHouse</title>
    	
      <meta charset="utf-8">
    	<meta name="viewport" content="width=device-width, initial-scale=1">
    	<!-- Latest compiled and minified CSS -->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
      <link rel="stylesheet" type="text/css" href="lighthouse/static/lighthouseapp/my_stylesheet.css">
      <script src="https://w.soundcloud.com/player/api.js" type="text/javascript"></script>
  	</head>

    <body> 
	      <div class="container">
            <div class="row">
                <div class="col-md-6" style="margin-top: 10%;text-align: right;height: 100%;"> 
                    <h1 id="title">LightHouse</h1>    
                    <h3>A site for the underrepresented</h3>
                </div>
                <div class="col-md-6"> 
                    <img src="http://gruberb.com/diverse.png" alt="background" style="width:300px;height:307px;">
                </div>
              </div>
        </div> 
        <div class="container text-left" style="margin-top: 15px">     
            <p>Lighthouse was made to help the underrepresented. By this we mean smaller groups from the tech community that may find it hard to find each other to share professional interests and knowledge. May it be a hackathon, networking, workshops, mentoring programs or a simple meetup focussing on the area of expertise where you want to learn more or share your knowledge we. We will help you find it.</p>
 
          <div class="row">
          <div class="col-md-12"> 
            <p><strong>How to browse:</strong> If you’re not sure what you’re looking for yet, just hit ‘browse’ and we’ll suggest you something to get started with.</p>
          
            <p><strong>How to search:</strong> Simply click on Filter, use our search filters and hit send. We’ll give you a list of anything that might be going on near you.</p>
            </div>
          </div>
          <div class="row text-center">
           <div class="col-sm-6"><a href='browse/'><input class="btn btn-default" style="display: block; width: 100%;" type="submit" value="Go to Browse"></a></div>

            <div class="col-sm-6"><a href="resourcefilter/"><input class="btn btn-default" style="display: block; width: 100%;" type="submit" value="Go to Filters"></a></div>


          </div>
          <div class="row text-left" style="margin-top: 20px;">
            <div class="col-md-12">
            <p><strong>How to get inspired:</strong> Browse SoundClouds diversity talks and podcasts!</p>
          </div>
          </div>

          <div class="row" style="margin-top: 10px;">
            <div class="col-md-12"><iframe class="iframe" width="100%" height="400" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https://soundcloud.com/cubecasts/sets/women-in-tech&amp;auto_play=false&amp;buying=false&amp;liking=false&amp;download=true&amp;sharing=true&amp;show_artwork=true&amp;show_comments=true&amp;show_playcount=true&amp;show_user=true&amp;hide_related=false&amp;visual=true&amp;start_track=0&amp;callback=true">
            </iframe></div>
          </div>
        </div>
        

</body>
</html>
